#MemoLogo {
    position: relative;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    margin: 10px;
    float: left;
}
#MemoPedia {
    position: relative;
    float: left;
    font-size: 20px;
    top:16px;
    left:-8px;
    color: black;
    text-decoration: none;
}
#LogoBox {
    width: 180px;
    float:left;
}
body {
    background-color: #9eabae;
}
.container {
    background-color: #77878b;
    border: 2px solid black;
    height: 70px;
    width: 98%;
    margin:12px;
}
nav {
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-color: red;
    font-family: Sans-serif;
    text-size: 346px;
}
