#MemoLogo {
    position: relative;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    margin: 10px;
    float: left;
}
#MemoPedia {
    position: relative;
    float: left;
    font-size: 20px;
    top:16px;
    left:-8px;
    color: black;
    text-decoration: none;
}
#LogoBox {
    width: 180px;
    float:left;
}
body {
  background-color: #b8c8d6;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    background-color: #8daaaf;
    border: 2px solid #162d32;
    height: 70px;
    width: 98%;
    margin:12px;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    height: 55px;
    padding-top: 18px;
    margin-left: 100px;
    position: relative;
}
nav a {
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #162d32;
}
nav a::before {
    content:'';
    height: 5px;
    width: 100%;
    display: block;
    background-color: #162d32;
    position: absolute;
    top:0;
    opacity: 0;
    transition: 250ms;
}
nav a:hover::before {
    opacity: 0.7;
}
section {
    color: #162d32;
}
